/* tslint:disable */
import { {{&config.injection.injectable}}, {{&config.injection.inject}}, {{&config.injection.injector}} } from '{{&config.injection.module}}';
// @ts-ignore
{{#config.imports}}
{{{.}}}
{{/config.imports}}

{{#definitions}}
/**
 * {{{title}}}
 **/
interface {{&type}}{{#genericProperties.length}}<{{#genericProperties}}T{{&.}} = any,{{/genericProperties}}>{{/genericProperties.length}} {
    {{#properties}}
    /**
     * {{{description}}}.{{{originTitle}}}
     {{#default}}
     * @default {{{default}}}
     {{/default}}
     {{#example}}
     * @example {{{example}}}
     {{/example}}
     {{#deprecated}}
     * @deprecated
     {{/deprecated}}
     **/
    {{&name}}{{^required}}?{{/required}}: {{#generic}}T{{&name}}{{/generic}}{{^generic}}{{&type}}{{/generic}};
    {{/properties}}
}
{{/definitions}}

{{#methods}}
{{#parameters}}
{{^referenced}}
{{#properties.length}}
interface {{&typeName}} {
    {{#properties}}
    /**
     * {{{description}}}
     {{#default}}
     * @default {{&default}}
     {{/default}}
     {{#deprecated}}
     * @deprecated
     {{/deprecated}}
     **/
    {{&name}}{{^required}}?{{/required}}: {{&type}};
    {{/properties}}
}
{{/properties.length}}
{{/referenced}}
{{/parameters}}
{{/methods}}

/**
 * {{{info.title}}}
 * @version {{{info.version}}}
 * @see http://{{&host}}{{&basePath}}swagger-ui.html
 */
{{#config.decorators}}
{{{.}}}
{{/config.decorators}}
@{{&config.injection.injectable}}()
export default class {

    constructor(
        @{{&config.injection.inject}}({{&config.injection.http}}) private http: IHttp
    ) { }
{{#methods}}

    /**
     * {{{summary}}}
     {{#parameters}}
     * @param {{{name}}} {{{description}}}
     {{/parameters}}
     {{#deprecated}}
     * @deprecated
     {{/deprecated}}
     */
    {{{name}}}({{#parameters}}{{{name}}}{{^required}}?{{/required}}: {{&type}}, {{/parameters}}): Promise<{{{response}}}> {
        const url = `{{{url}}}`;
        {{#defaults.length}}
        if (this.http.getDefaultValue) {
            {{#defaults}}
            {{{key}}} = Object.assign({
                {{#value}}
                {{{.}}}: this.http.getDefaultValue('{{{.}}}', '{{{key}}}', url),
                {{/value}}
            }, {{{key}}})
            {{/defaults}}
        }
        {{/defaults.length}}
        return this.http.request({ url, method: "{{&method}}", {{#parameters}}{{#passable}}{{{name}}}, {{/passable}}{{/parameters}}});
    }
{{/methods}}
}